/* WebContentEditor */

.WebContentEditor {
  width: 956px;
}

.WebContentEditor .mce-tinymce {
  margin-left: 29px;
}

.WebContentEditor .modal-content {
  height: auto;
  border-radius: 0;
}


/* Tinymce table default css */

.tableTinyMCE {
  border: 1px solid black;
  border-collapse: collapse;
  border-spacing: 0;
}

.tableTinyMCE tr {
  vertical-align: "top"
}

.WebContentEditor table, tr, td, th, tbody, thead, tfoot {
  page-break-inside: avoid !important;
}

.tableTinyMCE td {
  border: 1px solid black;
  vertical-align: middle;
  font-size: small;
  padding: 7px;
}


/* TinyMCE page break */

.mcePageBreak {
  display: block;
  border: 0;
  width: 100%;
  height: 12px;
  border-top: 1px dotted #ccc;
  margin-top: 15px;
  background: #fff url(../img/pagebreak.gif) no-repeat center top;
}


/* variable Modal Div's tables .*/

.variableTable {
  font: 14px sans-serif;
  width: 100%;
  border-spacing: 0px;
}


/* To make zoom on Tinymce content*/

.WebContentEditor .mce-content-body {
  zoom: 118%
}


/*Disable Tinymce logo and branding on editor*/

.WebContentEditor .mce-branding-powered-by {
  display: none
}


/* Master Container  for Editor*/

.tinymceAnfixContainer {
  background-color: #dae0db;
}


/*Footer for editor */

.WebContentEditor .footer {
  width: 100%;
  background-color: #23343B;
  height: 59px;
}

.WebContentEditor .footer .previsualizarBtn {
  height: auto;
  font: 12px sans-serif;
  background-color: #375E68;
  color: white;
  padding: 21px;
  cursor: pointer;
  font-weight: bold;
}

.WebContentEditor .footer .guardarBtn {
  height: auto;
  float: right;
  font: 12px sans-serif;
  background-color: #86BA02;
  color: white;
  padding: 21px;
  cursor: pointer;
  font-weight: bold;
}

.WebContentEditor .footer .tinymceFooterIcon {
  padding-right: 13px;
  vertical-align: middle;
}


/* Make the last tool (X - close button) move to right side */

.WebContentEditor .mce-toolbar .mce-last {
  float: right;
}

.WebContentEditor .mce-toolbar #mceu_16-button .mce-ico {
  height: 30px;
  width: 30px;
}

#mceu_16-button {
  padding: 0px
}


/*Variable Modal box*/

#variableModalDiv .modal-header {
  height: 8%;
  padding: 39px 39px 0px;
  border-bottom: none
}

#variableModalDiv .modal-title {
  font-family: "Times New Roman", Times, serif;
}

#variableModalDiv .modal-header .close {
  font-size: 42px;
  margin-top: 10px;
  float: right;
}

#variableModalDiv .modal-header .close {
  float: right;
  font-size: 40px;
  font-weight: bold;
  line-height: 20px;
  color: #000000;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.2;
  filter: alpha(opacity=20);
}

.close:hover, .close:focus {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.4;
  filter: alpha(opacity=40);
}

button.close {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}

#variableModalDiv .modal-content {
  box-sizing: border-box;
  margin: 15px;
  border-bottom: 2px solid #777777;
  border-right: 4px solid #868686;
  border-top: 2px solid #a7a4a4;
  border-left: 2px solid #caccca;
}

#variableModalDiv .modal-dialog {
  height: 100%
}

#variableModalDiv .modal-content {
  height: 97%
}

#variableModalDiv .modal-body {
  max-height: 83%;
  height: 83%;
  padding: 0px 15px 15px 15px;
  position: relative;
  overflow-y: auto;
}

#variableModalDiv .variableTable tbody {
  display: table;
  width: 100%;
  border-spacing: 0px;
}

#variableModalDiv .variableDiv {
  padding: 3%;
  width: 43%;
  display: inline-block;
}

#variableModalDiv .variableTable tr:nth-child(even) {
  background: #FFF
}

#variableModalDiv .variableTable tr:nth-child(odd) {
  background: #f5f5f5;
}

#variableModalDiv .addImage {
  padding: 10px;
  width: 26px;
  cursor: pointer;
}

#variableModalDiv .modal {
  height: 100%
}

.WebContentEditor #variableModalDiv {
  width: 50%;
  height: 97%;
  left: 34%;
  overflow: hidden;
}

.pull-left {
  float: left
}

.pull-right {
  float: right
}


/* Fade effect for Modal */

.fadein {
  -webkit-animation: fadein 1.0s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 1.0s;
  /* Firefox < 16 */
  -ms-animation: fadein 1.0s;
  /* Internet Explorer */
  -o-animation: fadein 1.0s;
  /* Opera < 12.1 */
  animation: fadein 1.0s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


/* Firefox < 16 */

@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


/* Safari, Chrome and Opera > 12.1 */

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


/* Internet Explorer */

@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


/* Opera < 12.1 */

@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
